.channel {
  position: relative;
  margin-bottom: 50px;

  @include phones {
   display: none;
  }

  
  &-phone {
    display: none;
    @include phones {
      display: flex;
      flex-direction: column;
      padding: 30px 0 100px 0;
      height: 100%;
      .channel__video {
        margin-bottom: 10px;
        height: 25%;
      }
    }
  }

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &__title {
    display: inline-flex;
    align-items: center;
    color: #19202C;
    line-height: 1.2;
    margin-bottom: 30px;
    @include phones {
      display: none;
    }

    &-desc {
      color: #c2c2c2;
      margin-left: 19px;
      padding-top: 5px;
      cursor: auto;
      @include tablets {
        display: none;
      }
    }
  }
  &__title-name {
    margin-left: 12px;
    font-size: 26px;
    font-weight: 700;
    font-weight: 700;
    font-size: 26px;
  }

  &__video {
    width: 240px;
    @include tablets {
      width: 300px;
    }

    &-thumb {
      width: 220px;
      height: 130px;
      overflow: hidden;
      border-radius: 14px;
      position: relative;
      @include tablets {
        width: 100%;
        height: 140px;
      }
      @include phones {
        width: 100%;
        height: 150px;
      }
    }
    &-thumbnail {
      width: 100%;
      width: 220px;
      height: 130px;
      object-fit: cover;
      @include tablets {
        width: 100%;
        height: 150px;
      }
        @include phones {
          width: 100%;
          height: 150px;
        }
    }
    &-duration {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background: #000000;
      mix-blend-mode: normal;
      opacity: 0.5;
      border-radius: 12px;
      color: #fff;
      font-size: 14px;
      padding: 3px 9px;
    }
    &-title {
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 4px;
      line-height: 1.42;
    }
    &-info {
      display: flex;
      color: rgba(194, 194, 194, 1);
      font-size: 12px;
      justify-content: space-between;
      align-items: center;
      width: 95%;
    }
    &-counter {
      display: flex;
      align-items: center;
    }
    &-views {
      margin-right: 5px;
      &:after {
        content: '';
        width: 2px;
        height: 2px;
        background: #c2c2c2;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
      }
    }
  }
  &__button-icon {
    opacity: 0.24;
    &:hover {
      opacity: 1;
    }
  }
  &__button-subscribe {
    display:inline-block;
    position: absolute;
    top: 5px;
    right: 20%;
    background: red;
    color: #fff;
    border: 1px solid transparent;
    width: 156px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
    outline: none;
    &:hover {
      background: #fff;
      color: red;
      border-color: red;
    }
  }

  &__buttons {
    position: absolute;
    right: 11%;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66px;

    @include tablets {
      display: none;
    }
  }
}

.channel__button--prev, .channel__button--next {
  outline: none;
  cursor: pointer;
}

.channel-food {
  
  @include phones {
    display: none;
  }
}

.swiper-slide {
  @include phones {
    height: auto !important;
  }
}


