.input {
  background: #EBEBEB;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 17px;
  max-width: 830px;
  width: 50%;
  @include tablets {
    max-width: 300px;
  }
  @include phones {
    width: 0;
  }

  &__search {
    background-color: transparent;
    border: none;
    padding: 12px 24px;
    outline: none;
    width: 100%;
    @include phones {
      display: none;
    }
  }

  &__button {
    width: 19px;
    height: 19px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    @include phones {
      background: #fff;
    }
  }
}