$red:  #FF0000;

.nav {
  &__menu {
    margin-bottom: 60px;
  }

  &__item {
    margin-bottom: 28px;
    & .nav__icon {
      fill: #898989;
    }
  }

  &__link {
    color: #898989;
    display: flex;
    align-items: center;
    &:hover {
      color: $red;
      .nav__icon  {
        fill: $red;
    }
    }
  }

  &__text {
    margin-left: 13px;
  }

  &__img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 30px;
  }

  &-phones__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-phones__icon {
    opacity: 0.24;
    margin-bottom: 5px;
  }
  &-phones__text {
    font-size: 14px;
    color: #898989;
  }
}

.nav-phones__item.active {
  .nav-phones__text {
    color: #FF0000;
  }
  .nav-phones__icon {
    fill: #FF0000;
    opacity: 0.5;
  }
}