.recommended {
position: relative;
margin-bottom: 40px;

  &__title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #19202C;
  }
  &__buttons {
    position: absolute;
    top: 10px;
    right: 11%;
    display: flex;
    justify-content: space-between;
    width: 66px;
    align-items: center;
  }
  &__button-icon {
    opacity: 0.24;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

  &__video {

    &-thumb { 
      width: 400px;
      height: 200px;
      position: relative;
      margin-bottom: 10px;
    }
    &-thumbnail {
      object-fit: cover;
      width: 400px;
      height: 200px;
      border-radius: 14px;
    }
    &-duration {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background: black;
      opacity: 0.5;
      border-radius: 12px;
      color: #fff;
      font-size: 14px;
      padding: 3px 10px;
    }
    &-title {
      font-weight: bold;
      color: #19202C;
      margin-bottom: 5px;
    }
    &-info {
      color: #c2c2c2;
      font-size: 12px;
      display: flex;
      width: 95%;
      justify-content: space-between;
    }
    &-counter {
      display: flex;
      align-items: center;
    }
    &-views {
      margin-right: 5px;
    }
    &-views:after {
      content: "";
      height: 2px;
      width: 2px;
      background: #c2c2c2;
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
    }
  }
}

.recommended__button--prev, .recommended__button--next {
  outline: none;
}